*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 30px;
  width: 1140px;
}

.result {
  display: flex;
  flex-direction: column;
}

.content__details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-self: stretch; 
  gap: 20px;
}

.search-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.content__list-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 399px;
  height: 298px;
  overflow-y: auto;
  position: relative;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding: 0 3px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}
.content__video-card-description-container {
  flex-grow: 1;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form__fieldset-title {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 5px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.94;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block; /* это позволит отображать фоновый цвет. */
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  width: 196px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 6px;
}

.content__video-card-description {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 0.9;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
}

.search-form__textfield {
  font-family: inherit;
  font-size: 18px;
  color: #fff;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  appearance: none;
  width: 225px;
  padding: 2px 0;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus,
.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:has(.search-form__checkbox):hover .search-form__label-text {
  text-decoration: underline;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  font-weight: 700;
  font-size: 18px;
  padding: 6px 0;
  cursor: pointer;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}

.more-button {
  width: 100%;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: #545050; /* Одна из карточек в списке выбранная. Это поведение уже реализовано с помощью JavaScript  */
}
